:root {
  --c-white: #ffffff;
  --c-white-blue: #f0f6fe;

  --c-blue-priority: #1d37af;
  --c-blue-secondary: #0029a9;
  --c-blue-soft: #0c5bef;
  --c-blue-mute: #0f62fe;

  --c-gray: #222327;
  --c-gray-soft: #81899d;
  --c-gray-blue: #a1a7b5;

  --c-dark: #17171a;
  --c-dark-blue: #00133a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: Nunito Sans, arial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
